<div
    data-controller="dropdown"
    class="mx-auto mr-2 relative"
>
    <a
        href="#"
        class="block w-full py-2 px-3 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        data-action="dropdown#toggle click@window->dropdown#hide keydown.esc@window->dropdown#hide"
    >
        <span class="text-gray-400">Language:</span>
        <strong class="ml-1 uppercase">en</strong>
        <i class="ml-1 fa-solid fa-chevron-down text-gray-400"></i>
    </a>
    <ul
        hidden
        data-dropdown-target="content"
        class="absolute overflow-hidden z-10 right-0 mt-1 w-full text-gray-900 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
    >
        <li class="uppercase hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm">
            <a class="block" href="https://example.com">fr</a>
        </li>
        <li class="uppercase hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm">
            <a class="block" href="#">es</a>
        </li>
    </ul>
</div>
